body {
  background-color: #121317;
}
.text {
  font-size: 10rem;
  font-weight: 650;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  color: mediumaquamarine;
  font-family: system-ui;
}

.bottom-text {
  font-weight: 700;
  display: flex;
  justify-content: pinned-bottom;
  padding-left: 20px;
  color: mediumaquamarine;
  font-family: system-ui;
}