@import 'app/styles/topbar.scss';
@import 'app/styles/about-me.scss';

body {
  background-color: #121317;
}

.modal-separator {
  width: 400px;
  justify-content: center;
  border-bottom: 1px solid #CAD4DA;
  margin: 30px 140px;
}

.text {
  padding-top: 50px;
  font-size: 10rem;
  font-weight: 650;
  display: flex;
  justify-content: left;
  padding-left: 50px;
  color: mediumaquamarine;
  font-family: system-ui;
  line-height: 9rem;
}

.bottom-text {
  padding-top: 75px;
  font-weight: 700;
  display: flex;
  padding-left: 55px;
  justify-content: left;
  color: mediumaquamarine;
  font-family: system-ui;
}
.bottom-text-inner {
  font-weight: 700;
  display: flex;
  padding-left: 55px;
  justify-content: left;
  color: mediumaquamarine;
  font-family: system-ui;
}

a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.hidden-link {
  position: absolute;
  transform: translateX(-200%);
}

.hidden-link:focus {
  transform: translateX(0%);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  position: fixed; /* position the container relative to the viewport */
  bottom: 0; /* position the container at the bottom of the viewport */
  left: 0;
  right: 0;
  margin: auto; /* center the container horizontally */
  padding: 20px;
}

.linked-icon {
  padding-left: 10px;
  padding-right: 10px;
}
.icon {
  width: 50px;
  height: 50px;
}
