<div class="linkedcontent">
  <div class="icon-container">
    <a tabindex="0" aria-label="My Github" class="linked-icon" href="https://github.com/PCguyNoah" target="_blank" rel="noopener noreferrer">{{svg-jar "github-icon"}}</a>
    <a tabindex="0" aria-label="My LinkedIn" class="linked-icon" href="https://www.linkedin.com/in/noahbeightol/" target="_blank" rel="noopener noreferrer">{{svg-jar "linkedin-square-icon"}}</a>
    <a tabindex="0" aria-label="My Twitter" class="linked-icon" href="https://twitter.com/beightol_noah" target="_blank" rel="noopener noreferrer">{{svg-jar "twitter-icon"}}</a>
  </div>
  {{yield}}
</div>
