<Topbar/>
<div class="main-content">
  <div class="text-container">
      <div class="headshot-icon headshot-container">{{svg-jar 'Noah-Beightol-headshot'}}</div>
      <p class="text-header special-text"><em>"It's not what you do, it's how you do it"</em></p>
      <p class="text-content special-text">I am a software engineer and second year student at the University of Central Florida. I am currently completing my Bachelors of Computer Science, while interning at Smartrent INC. I have a passion for creating highly <em>accessible</em> web applications and products.</p>
      <div class="modal-separator special-text"></div>
      <p class="text-content special-text">I have experience writing code in Java, Javascript, C, Python, Ember.js, Node.js, JQuery, HTML, Handlebars, SCSS, CSS, Git, and more. I have a strong understanding of WCAG guidlines, and have worked to implement them in numerous products and features.</p>
  </div>
</div>
<LinkedContent></LinkedContent>

