
<div class="container">
  <button class="menu-button" tabindex="0" type="button" {{action 'handleMenuClick'}}>About Me</button>
  <button class="menu-button" tabindex="0" type="button">Contact</button>
  <button class="menu-button" tabindex="0" type="button">My Projects</button>
</div>
{{outlet}}
      