
<div class="text">Noah <br> Beightol</div> 
<div class="bottom-text bottom">Currently writing <em>&nbsp;elegant&nbsp;</em> solutions at </div> 
  <a tabindex="0" href="https://smartrent.com/" target="_blank" class="bottom-text-inner"> SmartRent.</a>

<div class="icon-container">
  <a tabindex="0" aria-label="My Github" class="linked-icon" href="https://github.com/PCguyNoah" target="_blank">{{svg-jar "github-icon"}}</a>
  <a tabindex="0" aria-label="My LinkedIn" class="linked-icon" href="https://www.linkedin.com/in/noahbeightol/" target="_blank">{{svg-jar "linkedin-square-icon"}}</a>
  <a tabindex="0" aria-label="My Twitter" class="linked-icon" href="https://twitter.com/beightol_noah" target="_blank">{{svg-jar "twitter-icon"}}</a>
</div>
{{outlet}}