<Topbar/>
<div class="special-text">
  <div class="text">Noah <br> Beightol</div> 
  <div class="bottom-text bottom">Currently writing <em>&nbsp;elegant&nbsp;</em> solutions at </div> 
  <a tabindex="0" href="https://smartrent.com/" target="_blank" class="bottom-text-inner" rel="noopener noreferrer"> SmartRent.</a>
</div>
<LinkedContent></LinkedContent>
{{outlet}}